/* Estilos NavBar */
.navBar{
    background-color:#B7482C;
}

.menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menu #myLinks a {
    position: relative; 
    text-decoration: none;
    padding: 4px;
    color: #F1E5D5;
    padding: 0px 10px;
    font-size: 27px;
    font-weight: 300;
}

#myLinks a:hover, #myLinks a:active, #myLinks a:focus, #myLinks a.active{
    text-decoration: none;
    color: #dbb990; 
}
  
.menu a.icon {
    display: none;
}

.logo {
    width: 200px;
    margin-left: 40px;
}
.menu #myLinks {
    word-spacing: 50%;
    font-weight: 100;
    text-align: center;
    display: flex;
    align-items: center; 
}
#socialLinks a img{
    height: 40px;
}
#socialLinks{
    padding-right: 5%;
}
.mobileMenu{
    display: flex;
}

  /*On mobile */
  @media only screen and (max-width: 768px) {
    .logo{
        width: 90px;
        margin-left: 2%;
    }
    .menu{
        display:block;
    }
    .menu #myLinks {
        display: none;
        text-align:left;
        height: 70vh;
      }
      .menu #socialLinks {
        display: none;
        justify-content: space-around;
        height: 30vh;
        width: 100%;
      }
      .menu #myLinks a {
        padding: 14px 16px;
        text-decoration: none;
        font-size: 35px;
        display: block;
      }
      .menu a.icon {
        color: #F1E5D5;
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
      }
      .menu .mobileMenu{
        display: block;
      }
      .servicio-block{
        width: 100% !important;
      }
  }

main{
    max-width: 1400px;
    margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.iconosIndex {
  height: 150px; }

.perfil {
  border-radius: 50%;
  width: 200px; }

.logoFooter {
  width: 50px;
  justify-content: center;
  align-content: center; 
}

.card{
    border: none;
}

.card-body{
    height: 100%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content:space-between;
}
.card-text{
    padding: 7%;
}
.cardLowerSection{
    background-color: #A6C4C4;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.categoryLogos{
    display: flex;
    align-items: center;
    padding-right: 2%;
}
.card-icon{
    width: 151px;
    padding: 7%;
}

.iconos-directorio {
  width: 3vw; }

.iconosDirectorioCard {
  width: 35px; }

@media screen and (max-width: 320px) {
  .iconos-directorio {
    width: 10vw; } }

@media screen and (max-width: 600px) {
  .iconos-directorio {
    width: 10vw; } }

.logosDirectorioCard {
  width: 200px;
  height:100px;
  background-repeat: no-repeat;
  background-position: center;
}

.filterDiv{
    display: none;
}
.show{
    display: block;
}

.styleThumbs {
  width: 150px;
  border-radius: 4px;
  padding: 5px; 
}

.gallery-height {
  height: 80vh; 
}

body {
  font-family: 'Roboto', Helvetica, sans-serif; }

.textoTitulo {
  font-family: 'Playfair Display', serif;
  word-spacing: 3px;
  color: white;
  text-align: center; }

.textoSubtitulo {
  color: #CE6B00;
  text-align: center; }

.textoGris {
  color: #1A4F47;
  text-align: center; }

.trabajos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.servicio-block{
    margin: 0 5%;
    width: 35%;
}

.cabeceras {
  font-family: 'Playfair Display', serif;
  text-align: center; }

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-evenly;
  align-items: center; }

h1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold; }

h2 {
  font-size: 4em;
  font-weight: 100;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center; }

h3 {
  font-weight: 100;
  font-size: 3em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

.blockIndexText {
  font-size: 1.17em;
  text-align: center;
  justify-content: center;
  padding: 0%; }

.parrafoDirectorio {
  text-align: center; }

.cover-text {
  color: white;
  font-size: 20px; }

.quote-text {
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  text-align: center;
  font-size: 1.87em; }

@media screen and (max-width: 600px) {
  .quote-text {
    font-size: 0.8em; }
  .cover-text {
    font-size: 0.7em;
    padding-top: 30px;
    line-height: 0.5px; }
  .servicios {
    text-align: center; } }

@media screen and (max-width: 320px) {
  .quote-text {
    font-size: 0.8em; }
  .cover-text {
    font-size: 0.7em;
    padding-top: 30px;
    line-height: 0.5px; }
  .servicios {
    text-align: center; } }

form {
  font-size: 12px; }

.boton {
  background-color: #1A4F47;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px; }
  .boton:hover {
    background-color: #CE6B00;
    color: white;
    border-radius: 8px; }

.footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: black;
  margin-top: 25px;
  list-style: none;
}

/*#footer-contenedor-1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 200px;
    text-align: left;
    padding: 10px;
    justify-content:left;
}

#footer-contenedor-2 {
    width: 30%;
    height: 200px;
    text-align: left;
    padding: 10px;

}

#footer-contenedor-3 {
    width: 30%;
    height: 200px;
    text-align: left;
    padding: 10px;

}
*/
/*.footer-list {
    font-family: sans-serif;
	font-size: 1em;
	list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: column;

}*/
.logoFooter {
  width: 60px;
  justify-content: center;
  align-content: center;
  padding-right: 5px; }

@media only screen and (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column; } }

.contenedor {
  height: 100%; }

.divSize {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center; }

.imgSize {
  display: flex;
  justify-content: center; }

.texto-equipo {
  padding: 10px;
  overflow: hidden; }

.texto-bio {
  text-align: right; }

/*.grillaPorQue {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: repeat (5, 250 px);
    justify-items: center;
    align-items: center; 
    grid-column-gap: 10px;
    grid-template-areas: 
                     "texto1 texto1 img1"
                     "img2 texto2 texto2"
                     "texto3 texto3 img3"
                     "img4 texto4 texto4"
              
}

#texto1 {
    grid-area: texto1;
} 

#img1 {
    grid-area: img1;
} 

#img2 {
    grid-area: img2;
} 

#texto2 {
    grid-area: texto2;
} 

#texto3 {
    grid-area: texto3;
} 

#img3 {
    grid-area: img3;
} 

#img4 {
    grid-area: img4;
} 

#texto4 {
    grid-area: texto4;
} 

#img5 {
    grid-area: img5;
}*/
/* Estilos Index */
.textCenter {
  text-align: center;
  justify-content: center;
  padding: 10px; }

/* Estilos Directorio */
.border {
  border: solid grey 3px;
  margin: 0;
  padding: 10px; }

div.containerHR {
  height: 100px;
  width: 200px;
  margin: 5px auto;
  padding-top: 50px; }

hr.beautiful-line {
  border-top: 1px solid #999;
  width: 90%; }

.hrTop {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray; }

.gradientPink {
  display: flex;
  background-image: linear-gradient(to right, #ffecd2 0%, #CE6B00 100%); }

.gradientPinkReverse {
  background-image: linear-gradient(to left, #ffecd2 0%, #CE6B00 100%); }

.boxIndexAcciones {
  height: 100px;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center; }

.directorioTitlo{
    color: #b7482c;
    text-align: center;
}

.btn-container{
    width: 10%;
    display: flex;
    justify-content: center;
}
.categoriasMargin {
  margin: 30px; 
}
.all-categories{
    display: flex;
    justify-content: center;
    margin: auto;
}
.category-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
    width: 90%;
}
.btn.category-btn:focus{
    box-shadow: none;
}
.category-btn.active-category, .category-btn.active-category:hover{
    background-color: rgba(183, 72, 44, 0.5);
}
.category-btn:hover{
    background-color: rgba(183, 72, 44, 0.5);
}
#noResults{
    display:none;
    width: 100%;
}
#noResults.noresults{
    display:block;
}

/*.waves {
  background-image: url(/sustentabilidadconestilo/img/waves-svg.png);
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}*/
.quoteBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 4em;
  height: 40vh;
  background-color: #F1E4D4;
  border-radius: 1%;
  padding: 15px 10%;
  align-content: center;
  align-items: center;
  justify-content: center; }

.quote-center {
  width: 50vw; }

@media only screen and (max-width: 768px) {
  main{
    max-width: 90%;
  }
  h2{
      font-size: 2em;
  }
  .quoteBox{
    margin: 2em 0;
  }
  .btn-container{
    width: 33%;
  }
}

/*If browser window is greater than a mobile*/
  @media only screen and (min-width: 768px) {
    .card-deck .card{
        min-width:30%;
        max-width: 30%;
        margin-bottom: 2%;
    }
  }
