.formColor {
    background-image: linear-gradient(#CD8C79, #FAAE7B)
} 

.divFormContact {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
} 
