.footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    color: black;
    margin-top: 25px;
   
}

/*#footer-contenedor-1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 200px;
    text-align: left;
    padding: 10px;
    justify-content:left;
}

#footer-contenedor-2 {
    width: 30%;
    height: 200px;
    text-align: left;
    padding: 10px;

}

#footer-contenedor-3 {
    width: 30%;
    height: 200px;
    text-align: left;
    padding: 10px;

}
*/

/*.footer-list {
    font-family: sans-serif;
	font-size: 1em;
	list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: column;

}*/

.logoFooter {
    width: 60px;
    justify-content: center;
    align-content: center;
    padding-right: 5px;
      }

      @media only screen and (max-width: 320px) {
        .footer {
        display: flex;
        flex-direction: column;
        }
    }

