
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.iconosIndex {
    height: 150px;
}

.logo {
  width: 150px;
}

.perfil {
  border-radius: 50%;
  width: 200px;

}

.logoFooter {
  width: 50px;
  justify-content: center;
  align-content: center;
}

.iconos-directorio {
   width: 3vw;
}

.iconosDirectorioCard {
  width: 30px;
}

.logosDirectorioCard {
  width: 200px;
  margin-bottom: 10px;
}

.styleThumbs {
  width: 150px;
  border-radius: 4px;
  padding: 5px;
}

.gallery-height {
  height: 80vh;
}




