  /* Estilos Index */

.textCenter {
    text-align: center;
    justify-content: center;
    padding: 10px;
}

  /* Estilos Directorio */

  .border {
    border: solid grey 3px;
    margin: 0;
    padding: 10px;
   } 
 